@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 20;
}

.loader-text {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.container {
    width: 100%;
    display: flex;
    color: white;
}

.left {
    width: 50%;
    background: #171717;
}

.left .nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.left .text {
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
    font-family: "Bigilla";
    margin-bottom: 1rem;
}

.left .wrapper-img {
    position: absolute;
    left: 15%;
    width: 30%;
    height: 50vh;
    z-index: 4;
}

.left .wrapper-img .box {
    background: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    opacity: 1;
    width: 72%;
}

.left .wrapper-img img {
    max-width: 360px;
}

.left .wrapper-img a {
    position: absolute;
    top: 10%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: #f2edd7;
    width: 120px;
    height: 120px;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Bigilla";
}

.media-social {
    position: absolute;
    bottom: 30px;
    left: 30px;
    list-style: none;
}

.media-social li {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

ion-icon {
    color: white;
}

.collab {
    position: absolute;
    bottom: 50px;
    left: 15%;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.new-talents {
    position: absolute;
    bottom: 50px;
    left: 70%;
    font-size: 2rem;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    border-bottom: 2px solid white;
}

.right {
    width: 50%;
    position: relative;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}